<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ESTEFANIA SANCHEZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ESTEFANIA MELISA SANCHEZ PARRAGA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding">
    
    <ion-row  class="custom-background light-background">
      <ion-col class="center-content">
        <h2 class="bold-name">ESTEFANIA MELISA SANCHEZ PARRAGA</h2>
        <p>
          <ion-icon name="call-outline" class="color-icon"></ion-icon> 0992190967
        </p>
        <p>
          <ion-icon name="mail-outline" class="color-icon"></ion-icon> estefi2000ms2gmail.com
        </p>
        <p>
          <ion-icon name="home-outline" class="color-icon"></ion-icon> Calle Bellavista y Chuquisaca, Sector La Ofelia, Quito
        </p>
      </ion-col>
      <ion-col class="center-col">
        <ion-img
          src="assets/icon/yo.jpeg"
          alt="Estefania Sanchez"
          class="img-estef"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col class="text-h1">
              <ion-text class="text-color">
                <h1>Una joven energética con deseo de enfrentarse a nuevos retos, con fuerte compromiso de aprender cosas nuevas y diferentes, además de ser responsable con el trabajo duro.</h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-text class="bold-title">HABILIDADES</ion-text>
              <ion-text class="text-color">
                <p>Técnicas: Word, PowerPoint, Excel, Python, C++, HTML, CSS, JavaScript, Java</p>
                <p>Profesionales: Trabajo en Equipo, Proactividad, Liderazgo, Responsabilidad, Puntualidad, Comunicación, Dedicación</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-text class="bold-title">FORMACIÓN ACADÉMICA</ion-text>
              <ion-text class="text-color">
                <p class="related">- 2013 | 2019, Colegio Santo Domingo de los Colorados, Santo Domingo</p>
                <p class="related">- Bachiller en Ciencias</p>
              </ion-text>
              <ion-text class="text-color">
                <p class="related">- 2019 | 2020, Escuela Superior de Economía, Moscú, Rusia</p>
                <p class="related">- Año preparatorio ruso</p>
              </ion-text>
              <ion-text class="text-color">
                <p class="related">- 2020 | 2021, Escuela Superior de Economía, Moscú, Rusia</p>
                <p class="related">- Año de estudio en Filología Rusa</p>
              </ion-text>
              <ion-text class="text-color">
                <p class="related">- 2022 | Presente, Escuela Politécnica Nacional, Quito, Ecuador</p>
                <p class="related">- Tecnología Superior en Desarrollo de Software</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-text class="bold-title">PRACTICAS</ion-text>
              <ion-text class="text-color">
                <p class="related">Pasante | ESFOT, Escuela Politécnica Nacional | Quito, Ecuador</p>
                <p class="related">Tareas Realizadas | Soporte Técnico, colaboración en los procesos para el mantenimiento de la operatividad de la plataforma tecnológica institucional.</p>
                <p class="related">Referencias: Ing. Maritza Rosero | 0998407848</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col class="text-data accent-background">
              <ion-text class="bold-title">DATOS PERSONALES</ion-text>
              <ion-text class="text-color">
                <p>Edad: 24 años</p>
                <p>Estado civil: Soltera</p>
                <p>Residencia: Quito, Ecuador</p>
                <p>C.I.: 1316288412</p>
                <p>Correo: estefania.sanchez01epn.edu.ec</p>
              </ion-text>

              <div class="social-buttons">
                <ion-button href="https://www.linkedin.com/feed/" target="_blank" color="primary">
                  <ion-icon name="logo-linkedin" slot="start"></ion-icon> LinkedIn
                </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-text class="bold-title">EXPERIENCIA PROFESIONAL</ion-text>
              <ion-text class="text-color">
                <p>COMEDOR “MARITZA”</p>
                <p>Ayudante | Santo Domingo, Ecuador</p>
                <p>Tareas Realizadas | Servicio al cliente</p>
              </ion-text>

              <ion-text class="text-color">
                <p>ALFA IMPRESIÓN</p>
                <p>Servicio | Quito, Ecuador</p>
                <p>Tareas Realizadas | Atención al cliente, documentación, organización.</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-data light-accent-background">
              <ion-text class="bold-title">IDIOMAS</ion-text>

              <div class="language-section">
                <ion-label>Inglés</ion-label>
                <ion-progress-bar value="0.75"></ion-progress-bar>
              </div>

              <div class="language-section">
                <ion-label>Ruso</ion-label>
                <ion-progress-bar value="0.50"></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
